pre{
  overflow-x: auto;
  border-radius: 5px;
  background:#182023;
  padding:.6rem 1.2rem;
  margin-bottom: 10px;
}
code,.hljs{
    display: block;
    min-width:600px;
    margin:0;
    color: #fff;
    font-size:.5rem;
    font-family:"Courier New","Consolas", "Bitstream Vera Sans Mono",  Courier, monospace !important;
    line-height: 130%;
}
@media (min-width:992px) {
  code,.hljs{
    font-size:.876rem;
    min-width: auto;
  }
}
 
.hljs-params
{
  color: #ff9823;
}
.hljs-number,
.hljs-literal,
.hljs-symbol,
.hljs-bullet {
  color: #AE87FA;
}

.hljs-function,
.hljs-built_in,
.hljs-name,
.hljs-keyword,
.hljs-selector-tag,
.hljs-deletion {
  color: #f82375;
}

.hljs-variable,
.hljs-template-variable,
.hljs-link {
  color: #629755;
}

.hljs-comment,
.hljs-quote {
  color: #808080;
}

.hljs-meta {
  color: #5bdaed;
}

.hljs-string,
.hljs-attribute,
.hljs-addition {
  color: #eedc70;
}

.hljs-attr,
.hljs-section,
.hljs-title,
.hljs-type {
  color: #a5da2d;
}

.hljs-selector-class
{
   color: #a5da2d;
}